
img {
    border: 5px white solid;
    width: 100%;
}

body{
    background-color: black;
}

h1 {
text-transform: uppercase;
}

.poster {
    width: 50%;
    margin-left: 25%;
    color: white;
    text-align: center;
    font-family: "Libre Baskerville", serif;
}

